.banner_block {
	width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
}
.banner_wrap {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
	align-items: stretch;
}

.banner_item {
	display: flex;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
}

.banner {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.banner:before {
	content: "";
	background: linear-gradient(1deg, #222 16.96%, rgba(13, 13, 13, 0.05) 55.01%, rgba(13, 13, 13, 0.05) 98.26%);
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.banner_inner {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.banner_inner img {
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.banner_content {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	width: 100%;
	/*max-width: 812px;*/
}

.banner_content_wrap {
	padding: 0;
	max-width: 100%;    margin-top: 90px;
}

.banner_caption {
	margin: 0;
}

.banner_caption h1 {
	text-align: center;
	font-size: 112px;
	font-weight: 700;
	line-height: 100%;
	letter-spacing: -4.48px;
	margin: 0;
	padding: 0;
}
.banner_caption h5 {
	color: var(--white);
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	line-height: 40px;
	margin: 30px 0;
	padding: 0;
}

.banner_caption p {
	color: var(--white);
	text-align: center;
	max-width: 75%;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin: 40px auto 60px auto;
    padding: 0;
}


.trend_list_wrap {
	display: flex;
    align-items: end;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 65px 0 0 0;
    clear: left;
}  
.trend_list_wrap ul.trend_list {
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;	
}
  
.trend_list_wrap ul.trend_list li.list_inline_item {
	margin: 0 40px 0 0;
	padding: 0;
	font-size: 20px;
	font-weight: 500;
	line-height: 40px;
	color: var(--white);
	display: inline-block;
}  
.trend_list_wrap ul.trend_list li.list_inline_item:last-child {
	margin-right: 0;
}
.trend_list_wrap ul.trend_list li.list_inline_item img {
	margin-right: 8px;
	position: relative;
}
.download_app {
	list-style-type: none;
	display: block;
	margin: 0px auto 0 auto;
	max-width: 280px;
	width: 100%;
	padding: 0;
	text-align: center;
  }
.download_app li {
	width: auto;
	margin-right: 10px;
	float: left;
	padding: 0;
}

.download_app li a {
	text-decoration: none;
}

.download_app li:last-child {
	margin-right: 0;
}

.download_app li.download_app_title {
	width: 100%;
	margin: 0;
}

.download_app li.download_app_title h6 {
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--white);
}
/* responsive */
@media screen and (max-width: 767.98px) {
	.banner_block {
		min-height: 40rem;
	}

	.banner_item {
		min-height: 40rem;
	}

	.banner:before {
		background: linear-gradient(0deg, #0D0D0D -29.06%, rgba(13, 13, 13, 0) 100%);
	}

	.banner_content {
		max-width: 510px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.banner_content_wrap {
		display: flex;
    	flex-direction: column;
    	margin-bottom: 0;
	}

	.banner_caption {
		margin-bottom: 0px;
	}

	.banner_caption h1 {
		font-size: 60px;
		font-weight: 700;
		line-height: 100%;
		letter-spacing: -2.4px;
	}
	.banner_caption p {
		max-width: 100%;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		margin: 25px auto 25px auto;
		padding: 0;
	}
	.download_app {
		order: 3;
		margin: 0px auto;
	}
	.trend_list_wrap {
		order: 2;
    	padding-top: 0;
    	padding-bottom: 35px;
	  } 
	  .trend_list_wrap ul.trend_list li.list_inline_item {
		margin: 0 25px 0 0;
		padding: 0;
		font-size: 14px;
		font-weight: 500;
		line-height: 21px;
		text-align: center;
	  }  
	  .trend_list_wrap ul.trend_list li.list_inline_item:last-child {
		margin-right: 0;
	  }
	  .trend_list_wrap ul.trend_list li.list_inline_item img {
		margin-right: 0;
		top: 0;
		width: 16px;
	  }
	  .trend_list_wrap ul.trend_list li.list_inline_item span {
		display: block;
	  }
}
@media screen and (min-width: 768px) {
	.banner_block {
		min-height: 45rem;
	}

	.banner_item {
		min-height: 45rem;
	}
}
@media screen and (min-width: 1200px) {
	.banner_block {
		min-height: 55rem;
	}

	.banner_item {
		min-height: 55rem;
	}
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
	.banner_content {
		max-width: 750px;
	}

	.banner_caption h1 {
		font-size: 82px;
	}
}
