:root {
  /*--max-width: 1100px;
  --border-radius: 12px;*/

  /* font-weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;


  /* colors */
  --black: #000;
  --white: #fff;

  --indigo: #6F00FF;
  --indigo-900: #8120FF;
  --indigo-800: #9340FF;
  --indigo-700: #A560FF;

  --purple: #B366FF;
  --purple-500: #BF80FF;
  --purple-400: #CC99FF;
  --purple-300: #D999FF;
  --purple-200: #E6CCFF;
  --purple-100: #F2E6FF;

  --blue: #6666FF;
  --blue-500: #8080FF;
  --blue-400: #9999FF;
  --blue-300: #B3B3FF;
  --blue-200: #CCCCFF;
  --blue-100: #E6E6FF;


  --black-150: #0D0D0D;
  --black-200: #101010;
  --black-450: #1C1C1C;
  --black-500: #212121;

  --black-550: #222222;

  --gray-600: #464646;
  --gray-400: #666666;
  --gray-300: #989898;
  --gray-450: #B9B9B9;

  --gray-light-150: #F8F8F8;
  --gray-light-300: #E1E4E8;

  --green-light-100: #eaffc0;
  --color_aero_blue: #C0FFD5;
  --color_aero_blue_lite: #C0FFF4;
  --aero_blue_lite: #C0FFF4;

  --yellow-400: #FFF4C0;
  --yellow-500: #F8E8CA;
  --red-600: #850101;

  --pink: #F5B6C7;
  --pink-200: #ffbbbb;

  --orange-light-200: #FFD5C0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--black);
  line-height: 17px;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  min-height: 100%;
  scroll-behavior: smooth;
  position: relative;
  ;
  
}

body.theme-dark {
  color: var(--white);
  background-color: var(--black-150);
}

.container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* header */


.textWhite{
  color: var(--white);
}
.textBlack{
  color: var(--black);
}

.bgBlack{background-color: var(--black); color: var(--white);}
.bgWhite{background-color: var(--white);color: var(--black);}



header.header_wrapper {
  padding: 0;
  width: 100%;
  margin: 0;
  transition: height 225ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  position: absolute;
  z-index: 1;
}

header ul.nav.main_nav {
  margin-top: 25px;
  width: auto;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  display: inline-block;
}

header ul.nav.main_nav>li {
  padding: 0;
  margin: 0 16px;
  list-style-type: none;
  display: inline-block;
}

header ul.nav.main_nav>li>a {
  text-decoration: none;
  display: block;
 
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 0;
  margin: 0;
}

.header_right {
  display: flex;
  justify-content: end;  
  align-items: center;
  margin-top: 24px;
  width: auto;
  gap: inherit;

}
.header_right button.btn_tattoo_art {
  margin-right: 32px;
}
header .header_navigation {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  justify-content: space-between;
}
.header_logo {
  padding: 0;
  margin: 24px 0 0 0;
  width: auto;
  display: inline-block;
}
.header_logo .navbar_brand {
  display: inline-block;
}
.nav_block{
  width: auto;
  margin-right: auto;
  padding-left: 8%;
}

header .navbar_nav {
  overflow: hidden !important;
  padding-bottom: 2px;
  padding: 10px 0;
  background-color: var(--gray-400);
}

header .navbar_nav>li {
  padding: 0;
  margin: 0 19px;
}

header .navbar_nav>li>a {
  text-decoration: none;
  display: block;
  color: var(--white);
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding: 0;
  margin: 0;
}

header .navbar_nav>li>a:hover {
  color: var(--pink);
}

header .navbar_nav>li>a:focus {
  color: var(--white);
}

header .navbar_nav>li>a:active {
  color: var(--pink);
}

header .navbar_nav>li:hover>a {
  color: var(--pink);
}

header .navbar_nav>li:hover>a:focus {
  color: var(--white);
}

header .navbar_nav>li:hover>a:active {
  color: var(--pink);
}

header .navbar_nav>li.active>a {
  color: var(--pink);
}

header .navbar_nav>li.active>a:hover {
  color: var(--pink);
}

header .navbar_nav>li.active>a:focus {
  color: var(--white);
}

header .navbar_nav>li.active>a:active {
  color: var(--white);
}

header .navbar_nav>li:last-child {
  margin-right: 0;
}
img.nav_btn_toggle {
  cursor: pointer;
}

/* footer */
footer {
  background-color: #F8F8F8;
}
.footer {
  width: 100%;
  position: relative;
  padding-top: 0px;
}

.footer .footer_block {
  width: 100%;
  padding: 18px 0 47px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.footer .footer_block .footer_logo {
  float: left;
  text-align: center;
  padding: 0;
  position: relative;
  margin: 55px 0 0 0;
}

.footer .footer_block .footer_logo a {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.footer .footer_block .footer_logo a img {
  position: relative;
}

.footer .footer_block ul.footer_list {
  margin: 53px 0 0 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  clear: left;
}

.footer .footer_block ul.footer_list li {
  padding: 0 0 20px 0;
  margin: 0;
  display: inline-block;
}

.footer .footer_block ul.footer_list li:first-child {
  margin-left: 0;
}

.footer .footer_block ul.footer_list li:last-child {
  margin-right: 0;
  padding-bottom: 0;
}

.footer .footer_block ul.footer_list li a {
  color: var(--black);
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  display: block;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.footer .footer_block ul.footer_list li a:hover {
  color: var(--black);
  text-decoration: underline;
}

.footer .footer_block ul.footer_list li h4 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.footer .footer_block .footer_left {
  max-width: 280px;
}

.footer .footer_block .footer_left ul.footer_list {
  display: inline-block;
  width: 100%;
  margin: 36px 0 0 0;
}

.footer .footer_block .footer_left ul.footer_list li {
  width: auto;
  margin-right: 10px;
  float: left;
  padding: 0;
}

.footer .footer_block .footer_left ul.footer_list li:last-child {
  margin-right: 0;
}

.footer .footer_block .footer_left ul.footer_list li a {
  text-decoration: none;
}

.footer .footer_block .footer_left ul.footer_list li.footer_title {
  width: 100%;
  margin: 0;
}

.footer .footer_block .footer_left ul.footer_list li.footer_title h6 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.footer .footer_block .footer_right {
  width: 56%;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
}

.footer .foot_links ul.links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
}

.footer .foot_links ul.links li {
  padding: 0 43px 0 0;
  margin: 0;
  display: inline-block;
}

.footer .foot_links ul.links li:last-child {
  padding-right: 0;
}

.footer .foot_links ul.links li a {
  font-size: 16px;
  line-height: 23px;
  color: var(--black);
  font-weight: 600;
  display: block;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.footer .foot_links ul.links li a:hover {
  color: var(--black);
  text-decoration: underline;
}

.footer .footer_secondary {
  width: 100%;
  padding: 19px 0 11px 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid var(--gray-450);
}

.footer .footer_secondary .social_icons {
  text-align: left;
  float: left;
}

.footer .footer_secondary .social_icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

.footer .footer_secondary .social_icons ul li {
  text-align: left;
  float: left;
  margin: 0;
  padding: 0;
}

.footer .footer_secondary .social_icons ul li:last-child {
  margin-right: 0;
}

.footer .footer_secondary .social_icons ul li.footer_title {
  margin: 0 15px 0 0;
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.footer .footer_secondary .social_icons ul li a {
  margin: 0 18px;
  padding: 0;
  float: left;
}

.footer .footer_secondary .social_icons ul li a:last-child {
  margin-right: 0;
}

.footer .footer_secondary .social_icons ul li a svg {
  width: 27px;
  height: 27px;
  display: block;
}

.footer .footer_secondary .social_icons ul li a:hover svg {
  fill: var(--red-600);
}

body.theme_dark footer {
  background: var(--black-150);
}

body.theme_dark footer .footer_block .footer_logo {
  width: 169px;
  height: 135px;
  margin: 0;
}

body.theme_dark footer .footer_block .footer_logo a {
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  padding-bottom: 34px;
}

body.theme_dark footer .footer_block .footer_logo a svg {
  position: absolute;
  left: -20px;
  z-index: 0;
}

body.theme_dark footer .footer_block .footer_logo a img {
  position: relative;
}

body.theme_dark footer .footer_block ul.footer_list li a {
  color: var(--white);
}

body.theme_dark footer .footer_block ul.footer_list li a:hover {
  color: var(--white);
  text-decoration: underline;
}

body.theme_dark footer .footer_block .footer_left ul.footer_list {
  margin: 2px 0 0 0;
}

body.theme_dark footer .foot_links ul.links li a {
  color: var(--white);
}

body.theme_dark footer .foot_links ul.links li a:hover {
  color: var(--white);
  text-decoration: underline;
}

/*  cookies */
.header_cookies {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 11px 5vw 9px 5vw;
  background: var(--pink);
  color: var(--black);
}

.header_cookies .header-cookie-img img {
  position: relative;
  top: 2px;
}

.header_cookies .header_cookie_txt {
  position: relative;
  top: 2px;
}

.header_cookies .header_cookie_txt p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.header_cookies .header_cookie_txt p span {
  padding-right: 8px;
}

.header_cookies .header_cookie_txt a {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  color: var(--black);
}

.header_cookies .header_cookie_txt a:hover {
  text-decoration: underline;
}

/* custom styles */
.highlight_border {
  position: relative;
}

.highlight_border:after {
  content: "";
  width: 100%;
  height: 16px;
  position: absolute;
  bottom: -10px;
  left: -10px;
  margin-top: 10px;
  background: url("/heading-border.svg") no-repeat;
  background-size: contain;
}

.block_bg_pink {
  background-color: var(--pink);
}
.block_bg_pink_200 {
  background-color: var(--pink-200);
}
.block_bg_yellow {
  background-color: var(--yellow-400);
}
.block_bg_yellow_500 {
  background-color: var(--yellow-500);
}
.block_bg_black {
  background-color: var(--black-550);
}
.block_bg_black_h {
  background-color: var(--black);
}
.block_bg_orange {
  background-color: var(--orange-light-200);
}

.block_bg_green_100 {
  background-color: var(--green-light-100);
}
.block_bg_aero_blue {
  background-color: var(--color_aero_blue);
}
.block_bg_aero_blue_lite {
  background-color: var(--aero_blue_lite);
}
.block_bg_gray_150 {
  background-color: var(--gray-light-150);
}
.block_bg_white {
  background-color: var(--white);  
}

.color_pink {
  color: var(--pink);
}

.color_pink_200 {
  color: var(--pink-200);
}
.color_yellow {
  color: var(--yellow-400);
}

.color_black {
  color: var(--black-550);
}

.color_black_h {
  color: var(--black);
}

.color_orange {
  color: var(--orange-light-200);
}

.color_aero_blue {
  color: var(--color_aero_blue);
}

.color_aero_blue_lite {
  color: var(--color_aero_blue_lite);
}

.color_green_100 {
  color: var(--green-light-100);
}

.color_gray_150 {
  color: var(--gray-light-150);
}

.color_white {
  color: var(--white);
}

.md_max_75 {
  max-width: 75%;
}
.md_max_90 {
  max-width: 90%!important;
}
.w_100pc {
  width: 100%!important;
}
.w_auto {
  width: auto!important;
}
.max_w_100pc {
  max-width: 100%!important;
}
.letter_spacing_01 {
  letter-spacing: -1.68px !important;
}

.letter_spacing_02 {
  letter-spacing: -2px !important;
}

.letter_spacing_025 {
  letter-spacing: -2.5px !important;
}

.letter_spacing_03 {
  letter-spacing: -3.2px !important;
}

.letter_spacing_04 {
  letter-spacing: -4.4px !important;
}

.letter_spacing_05 {
  letter-spacing: -5.32px !important;
}

.justify_content_start {
  justify-content: flex-start !important;
}

.justify_content_center {
  justify-content: center !important;
}
.justify_content_right {
  justify-content: right !important;
}
.align_item_end {
  align-items: end !important;
}
.align_item_start {
  align-items: flex-start !important;
}
.text_left {
  text-align: left !important;
}
.text_center {
  text-align: center !important;
}
.text_right {
  text-align: right !important;
}

.img_fluid {
  max-width: 100%;
  height: auto;
}

.position_relative {
  position: relative !important;
}

.col_full {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.list_inline_item {
  display: inline-block;
}

.d_flex {
  display: flex!important;
}

.ml_0 {
  margin-left: 0px!important;
}
.ml-8 {
  margin-left: 8px!important;
}

.mt_0 {
  margin-top: 0px!important;
}
.mt-2 {
  margin-top: 2px!important;
}
.mt_mb_6pc {
  margin-top: 6%!important;
  margin-bottom: 6%!important;
}
.mb-7pc {
  padding-bottom: 7%!important;
}
.mb_0 {
  margin-bottom: 0px!important;
}
.mr_0 {
  margin-right: 0px!important;
}
.pb_0 {
  padding-bottom: 0px!important;
}
.h_48 {
  height: 48px!important;
}
.p_0 {
  padding: 0px!important;
}
.pl_0 {
  padding-left: 0!important;
}
.pr_0 {
  padding-right: 0!important;
}
.pr_2_pc {
  padding-right: 5%!important;
}

.no_space_center {
  padding-left: 10px!important;
  padding-right: 10px!important;
}

.bottom-13pc {
  bottom: 13%!important
}

.img_box_img_m20pc {
  margin-bottom: -10%!important;
}
.txt-btm-7pc {
  padding-bottom: 7%!important;
}
.img-btm-7pc {
  bottom: 13%!important;
}

.svg_h_inherit {
  max-height: 90%!important;
}
.after_none:after {
  content: none!important;
}

.object_fit_contain {
  object-fit: contain!important;
}
.object_position {
  object-position: bottom!important;
}

.hidden {
  display: none!important
}
.z_index_1 {
  z-index: 1!important;
}

.d_grid {
  display: grid!important;
}


.custom_full_block {
  max-width: 90%!important;
}

/* button style */
.btn_primary {
  display: inline-flex;
  height: 40px;
  padding: 10px 20px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  border: 0;
  background: var(--indigo);
  color: var(--white);
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.btn_primary:hover {
  color: var(--white);
  background: var(--indigo-700);
  text-decoration: none;
}

.btn_secondary {
  display: inline-flex;
  height: 40px;
  padding: 10px 20px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  border: 0;
  background: var(--black-450);
  color: var(--white);
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.btn_secondary:hover {
  color: var(--white);
  background: var(--gray-600);
  text-decoration: none;
}

.btn_outline_primary {
  display: inline-flex;
  height: 40px;
  padding: 10px 20px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  border: 1px solid var(--indigo);
  background: var(--white);
  color: var(--indigo);
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.btn_outline_primary:hover {
  color: var(--indigo-700);
  background: var(--white);
  border: 1px solid var(--indigo-700);
  text-decoration: none;
}

.btn_outline_secondary {
  display: inline-flex;
  height: 40px;
  padding: 10px 20px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  border: 1px solid var(--black-450);
  background: var(--white);
  color: var(--black-450);
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.btn_outline_secondary:hover {
  color: var(--gray-600);
  background: var(--white);
  border: 1px solid var(--gray-600);
  text-decoration: none;
}

.btn_default {
  display: inline-flex;
  height: 40px;
  padding: 10px 20px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  border: 0;
  background: var(--gray-light-150);
  color: var(--black-500);
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.btn_default:hover {
  color: var(--black-500);
  background: var(--gray-light-300);
  text-decoration: none;
}

.primary_lg_pressed {
  background: var(--indigo-900);
  height: 48px;
}

.primary_lg_pressed:hover {
  background: var(--indigo-700);
}

.secondary_lg_pressed {
  background: var(--gray-600);
  height: 48px;
}

.secondary_lg_pressed:hover {
  background: var(--black-450);
}

.outline_primary_lg_pressed {
  border: 1px solid var(--indigo-900);
  height: 48px;
  color: var(--indigo-900);
}

.outline_primary_lg_pressed:hover {
  border: 1px solid var(--indigo-700);
  color: var(--indigo-700);
}

.outline_secondary_lg_pressed {
  border: 1px solid var(--gray-600);
  height: 48px;
  color: var(--gray-600);
}

.outline_secondary_lg_pressed:hover {
  border: 1px solid var(--black-450);
  color: var(--black-450);
}

.btn_xxl {
  padding: 18px 20px;
  height: 66px;
  font-size: 20px;
  line-height: 30px;
}
.btn_xl {
  padding: 18px 20px;
  height: 56px;
  font-size: 20px;
  line-height: 30px;
}
.btn_lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  height: 48px;
}
.btn_sm {
  height: 48px;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 21px;
}

.btn_tattoo_art {
  display: inline-flex;
  height: 43px;
  padding: 8px 16px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  text-align: center;
  border: 0;

  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.btn_tattoo_art:hover {
  color: var(--white);
  background: var(--gray-600);
  text-decoration: none;
}
.btn_custom_m {
  height: 56px;
  padding: 8px 32px;
  line-height: 40px;
  border-radius: 8px;
}
button.btn_view_more {
  align-items: center;
  text-transform: uppercase;
  padding: 1.56em 1.5em 1.31em;
  border-radius: 56px;
  font-size: 14px;
  font-weight: 800;
  color: white;
  max-width: 350px;
  width: 100%;
}


/* content styles */
main {
  min-height: 70vh;
  position: relative;
}
body.homeScreen {
  background-color: #F8F8F8;
}
.bg_overlay_img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg_overlay_img img {
    width: auto!important;
    padding: 10px 10px;
    max-width: 100%;
}

.klarna_bg {
  position: absolute;
  right: 30px;
  top: 42px;
}

.block_bg_gradient_1:before {
  content: "";
  background: linear-gradient(1deg, rgba(13, 13, 13, 0.7) 16.96%, rgba(13, 13, 13, 0.05) 55.01%, rgba(13, 13, 13, 0.05) 98.26%);
  position: absolute;
  height: 100%;
  width: 100%;
}

.block_bg_gradient_2:before {
  content: "";
  background: linear-gradient(180deg, rgba(28, 28, 28, 0.00) 23.12%, #1C1C1C 100%);;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* */

.search_form {
  margin: 0 auto ;
  max-width: 680px;
  width: 100%;
}

.search_form .search_form_wrap .input_group input.form_control.input_txt {
  border-radius: 49px;
  width: 100%;
  height: 52px;
  padding: 12px 50px 12px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #C3C3C3;
  border: 0;
}

.form_control:focus {  
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.search_form .search_form_wrap .input_group input.form_control.input_txt::placeholder {
  color: #C3C3C3;
  opacity: 1;
}

.search_form .search_form_wrap .input_group .btn_search {
  position: absolute;
  top: 2px;
  right: 0;
  color: var(--gray-450);
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.trend_list_wrap {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
  margin-top: 25px;
  padding: 0 20px;
}

.trend_list_wrap .trend_list_label {
  min-width: 170px;
}

.trend_list_wrap .trend_list_label p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
  margin: 0;
  padding: 0;
}

.trend_list_wrap .trend_list_label h6 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  color: var(--white);
  margin: 0;
  padding: 0;
}

.trend_list_wrap ul.trend_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  width: calc(100% - 170px);
}

.trend_list_wrap ul.trend_list li.list_inline_item {
  margin: 0;
  padding: 0;
}

.trend_list_wrap ul.trend_list li.list_inline_item a {
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  color: var(--white);
  margin: 0;
  padding: 0;
  display: inline-block;
}

.trend_list_wrap ul.trend_list li.list_inline_item a img {
  margin-right: 20px;
}

ul.download_app {
  list-style-type: none;
  display: block;
  margin: 50px auto 0 auto;
  max-width: 280px;
  width: 100%;
  padding: 0;
  text-align: center;
}

ul.download_app li {
  width: auto;
  margin-right: 10px;
  float: left;
  padding: 0;
}

ul.download_app li a {
  text-decoration: none;
}

ul.download_app li:last-child {
  margin-right: 0;
}

ul.download_app li.download_app_title {
  width: 100%;
  margin: 0;
}

ul.download_app li.download_app_title h6 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white);
}

.text_box_wrap {
  width: 100%;
  display: block;
  position: relative;
}

.text_box_wrap .img_text_box_inner {
  display: flex;
}

.text_box_wrap .img_text_box_inner .text_box_content h2 {
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  margin: 0;
  padding: 0;
  letter-spacing: -3.2px;
}

.text_box_wrap .img_text_box_inner .text_box_content p {
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 32px;
  margin-top: 29px;
}

.text_box_wrap .img_text_box_inner .text_box_content {
  width: 50%;
  padding: 60px 20px 60px 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text_box_wrap .img_text_box_inner .img_box_wrap {
  width: 50%;
  position: relative;
  display: inline-flex;
}

.text_box_wrap .img_text_box_inner .img_box_wrap img {
  width: 100%;
}

.text_box_content_inner {
  max-width: 500px;
  position: relative;
  padding-right:85px;
}

.box_text_img_over {
  position: absolute;
  bottom: 80px;
}

.box_text_img_over h2 {
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  margin: 0 ;
  padding: 0;
  letter-spacing: -3.2px;
}

.box_text_img_over h2 .small {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  display: block;
}

.block_bg_black .img_text_box_inner .text_box_content h2 {
  color: #F3F3F3;
}

.block_bg_black .img_text_box_inner .text_box_content p {
  color: var(--white);
}
.text_box_wrap.app_download_box_wrap {
  margin-bottom: 95px;
}
.text_box_wrap.app_download_box_wrap .img_text_box_inner .text_box_content {
  width: 40%;
}

.text_box_wrap.app_download_box_wrap .img_text_box_inner .img_box_wrap {
  width: 60%;
}

.text_box_wrap.app_download_box_wrap .img_text_box_inner ul.download_app {
  max-width: 360px;
  text-align: left;
}

.text_box_wrap.app_download_box_wrap .img_text_box_inner ul.download_app li.download_app_title {
  margin-bottom: 36px;
}

.text_box_wrap.app_download_box_wrap .img_text_box_inner ul.download_app li.download_app_title h6 {
  color: var(--black-550);
  font-size: 42px;
  font-weight: 700;
  line-height: 50.4px;
  letter-spacing: -1.68px;
  margin: 0;
}

.app_download_img_list {
  list-style: none;
  display: inline-flex;
  margin: 4% 10% 0 0;
  width: 100%;
  padding: 0;
}
.app_download_img_list li {
  filter: drop-shadow(-10px 24px 64px rgba(31, 4, 4, 0.23));
  padding-left: 21px;
}
.app_download_img_list li:first-child {
  padding-left: 0;
}
.app_download_img_list li img {
  height: 100%!important;
  width: 100%!important;
  max-width: 218px;
  max-height: 446px;
}
.imageFader {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.imageFader.active {
  opacity: 1;
}
/** custom listing */
ul.custom-listing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 48px 0 0 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

ul.custom-listing li {
  display: flex;
  align-items: flex-start;
  margin: 0 0 40px 0;
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  align-items: center;
}

ul.custom-listing li img {
  margin-right: 23px;
  position: relative;
  top: 1px;
}

/* font resize */
.custom_fs_20 {
  font-size: 20px!important;
  line-height: 40px!important;
}
.custom_fs_22 {
  font-size: 22px!important;
  line-height: 33px!important;
}

.full-block-wrap .img_text_box_inner .text_box_content_inner {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
}
.full-block-wrap .img_text_box_inner .text_box_content_inner h3 {
  color: var(--black);
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -2.4px;
  margin: 0 0 40px 0;
  padding: 0;
}

/* Join Artist */
ul.progressbar {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}
ul.progressbar:before {
	content: "";
	width: 2px;
	display: inline-block;
	position: absolute;
	left: 14px;
	margin-top: 10px;
	height: calc(100% - 10px);
	z-index: 0;
	background: url("/border-dashed.svg") no-repeat;
	background-size: contain;
}
ul.progressbar li {
	display: inline-block;
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
	position: relative;
	margin-bottom: 21px;
	text-align: left;
	padding: 0 0 0 70px;
}
ul.progressbar li h4 {
	color: var(--white);
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
	height: 100%;
	display: inline-block;
	width: 100%;
	position: relative;
	text-align: left;
	max-width: 77%;
  margin: 0 0 8px 0;
}
ul.progressbar li p {
	color: var(--white);
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	height: 100%;
	display: block;
	position: relative;
	text-align: left;
	margin: 0;
	padding: 0;
}
ul.progressbar li:before {
	content: "";
	background: rgba(217, 217, 217, 0.2);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	position: absolute;
	z-index: 0;
	left: 0;
}
ul.progressbar li:after {
	content: "";
	background: var(--gray-400);
	width: 18px;
	height: 18px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	position: absolute;
	z-index: 1;
	left: 6px;
	top: 6px;
}
ul.progressbar li.active:before {
	background: rgba(234, 255, 192, 0.2);
}
ul.progressbar li.active:after {
	background: var(--green-light-100);
}
ul.progressbar li.completed:before {
	background: rgba(234, 255, 192, 0.2);
}
ul.progressbar li.completed:after {
	background: var(--green-light-100);
}

/* custom form */
.full_block_wrap {
  width: 100%;
  position: relative;
  display: flex;
}
.form_block_left {
  width: 50%;
  position: relative;
}
.form_block_right {
  width: 50%;
  position: relative;
}

.default_form_block {
  padding-top: 125px;
  background-color: var(--black-550);
  padding-bottom: 80px;
}
.default_form_block h1.page_title {
	font-size: 58px;
	font-weight: 700;
	line-height: 70px;
	margin: 72px 0 0 0;
  color: var(--white);
}
.form_left_wrap {
	padding: 0;
	margin: 33px 0 0 0;
}  
.form_right_wrap {
	background-color: var(--white);
	border-radius: 16px;
	padding: 45px 64px 56px 64px;
	margin-left: 65px;
}
.form_right_wrap h4 {
	font-size: 26px;
	font-weight: 600;
	line-height: 32px;
	margin: 0 0 27px 0;
	color: var( --black);
}
.form_row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
form.form_floating .form_group {
  position: relative;
  margin-bottom: 24px;
}
.forms_section form .form_control {
  background: none;
  border: 1px solid var(--gray-light-300);
  border-radius: 4px;
  height: 58px;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 19px;
  color: var(--gray-300);
  display: block;
  width: 100%;
  font-weight: 400;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.forms_section form textarea.form_control {
  height: auto;
  min-height: 98px;
  padding-top: 23px!important;
}

form.form_floating .form_group .form_control:focus, 
form.form_floating .form_group .form_control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
  box-shadow: none;
}
form.form_floating .form_group .form_control::placeholder {
  color: transparent;
  color: var(--gray-300);
  opacity: 1;
}
form.form_floating .form_group .form_control:focus, 
form.form_floating .form_group .form_control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
  box-shadow: none;
}
form.form_floating .form_group .form_control:-webkit-autofill {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
form.form_floating .form_group .form_control:focus ~ label, 
form.form_floating .form_group .form_control:not(:placeholder-shown) ~ label {
  color: var(--gray-300);
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.forms_section form .form_control_select {
  border-radius: 4px;
  height: 58px;
  border: 1px solid var(--gray-light-300);
  position: relative;
  padding: 8px 25px 8px 12px;
  cursor: pointer;
  width: 100%;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-300);
  font-weight: 400;
  appearance: none;
}
.forms_section form .form_control_select:focus {
  box-shadow: none;
}
.forms_section form .form_selec_wrap {
  position: relative;
}
.forms_section form .form_selec_wrap:after{
  content: "";
  position: absolute;
  right: 5px;
  top: 50%;
  width: 25px;
  height: 25px;
  background: url(/select-down-arrow.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  transform: translateY(-50%) rotate(0deg);
  transition: all 0.2s ease-in-out;
  pointer-events: none; 
}

form.form_floating .form_group > label {
  position: absolute;
  top: 0;
  left: 12px;
  height: 58px;
  padding: 1rem 0;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-300);
  font-weight: 400;
}
form.form_floating .form_group > label.city {
  padding-left: 26px;
}
form.form_floating .form_group > label.city svg {
    position: absolute;
    left: -4px;
}
form.form_floating .form_group > .form_control:focus ~ label {
  color: var(--gray-300);
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.required:after {
  content: "*";
  color: var(--gray-300);
  font-size: 16px;
  margin: 0;
  line-height: 24px;
}
div.error {
  font-size: 13px;
  color: #ff3e30;
  margin-top: 3px;
}
.form_submit_block p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin: 10px 0 30px 0;
}
.form_submit_block {
  text-align: center;
  min-height: 55vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* klarna wrap */
.klarna_wrap ul.custom-listing li {
  color: var(--black);
}

ul.custom-listing.how_work_list li {
  font-size: 26px;
  line-height: 32px;
}

ul.custom-listing-grid {
  list-style: none;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 40px;
  margin-top: 50px;
}
ul.custom-listing-grid li {
  padding: 0;
  margin: 0;
  text-align: center;
  color: var(--black);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  word-break: break-word;
}
ul.custom-listing-grid li span {
  display: block;
}

/* radio block */
form.form_floating .form_group.radio_block > label {
  position: relative;
  pointer-events: auto;
  left: inherit;
  padding: 0 0 0 28px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(33, 33, 33, 1);
  margin-right: 25px;
  height: auto;
}
.radio_block .form_radio input[type="radio"] {   
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(225, 228, 232, 1);
  border-radius: 50%;
  transform: translateY(-0.075em);
  position: absolute;
  left: 0;
  top: 3px;
}
.radio_block .form_radio input[type="radio"]:focus {
  border: 5px solid var(--black-500);
}
.radio_block .form_radio input[type=radio]:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;    
}
.radio_block .form_radio input[type=radio]:checked {
  border: 5px solid var(--black-500);
}
.radio_block .form_radio input[type=radio]:checked:before {
  transform: scale(1);
  background-color: var(--white);
}
.radio_form_grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

/* contact form */
.contact_form_block .form_block_left p {
  font-size: 26px;
  font-weight: 400;
  line-height: 32px; 
  color: var(--white);
  max-width: 60%;
}

/* full banner custom slider */
.full_banner_custom_slider {
  padding-top: 135px;
  padding-bottom: 35px;
}
.full-block-wrap .img_text_box_inner .text_box_find_tattoo {
  width: 100%;
  margin: 0;
  max-width: 100%;
  text-align: left;
  padding-bottom: 40px;
  padding-top: 10px;
}
.find_tattoo_wrap {
  display: flex;
  justify-content: space-between;
}
.find_tattoo_wrap .find_tattoo_left {
  max-width: 550px;
  width: 100%;
}
.text_box_find_tattoo .find_tattoo_wrap .find_tattoo_left h3 {
  text-align: left;
  color: var(--black);
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -2.4px;
  margin: 0;
  padding: 35px 0 0 0;
}
.find_tattoo_wrap .find_tattoo_right {
  max-width: 550px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.find_tattoo_right ul.download_app {
  margin: 0;
}
.keywords_wrap {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.keywords_wrap ul.keywords_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.keywords_wrap ul.keywords_list li {
  display: inline-block;
  border-radius: 12px;
  background: #212121;
  padding: 3px 16px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: #fff;
  margin: 0 8px;
}

.image_shadow_bg{
  border-radius: 35px;
  background: url lightgray -183.109px -81.848px / 212.178% 158.542% no-repeat;
}






/* responsive */


@media screen and (max-width: 767.98px) {
  .m_pr_0 {
    padding-right: 0!important;
  }
  main {
    min-height: 40vh;
  }
  .bg_overlay_img img {
    width: auto!important;
    padding: 10px 10px;
    max-width: 70%;
}
  .highlight-border:after {
    display: none;
  }

  .footer .footer_block .footer_logo {
    margin-top: 10px;
  }

  .footer .footer_block ul.footer_list {
    margin-top: 30px;
    display: inline-block;
    clear: none;
    width: 49%;
    vertical-align: top;
  }
  .footer .footer_block {
    width: 100%;
    padding: 18px 0 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }
  .footer .footer_block ul.footer_list li {
    width: 100%;
  }

  .footer .footer_block ul.footer_list li a {
    display: inline-block;
  }

  .footer .footer_block .footer_right {
    width: 100%;
    display: block;
  }

  .footer .footer_secondary {
    flex-direction: column;
    align-items: center;
  }

  .footer .footer_secondary .social_icons {
    order: 1;
    width: 100%;
    margin-top: 20px;
  }

  .footer .footer_secondary .social_icons ul {
    width: 100%;
  }

  .footer .footer_secondary .social_icons ul li {
    float: none;
    margin: 0;
  }

  .footer .footer_secondary .social_icons ul li.footer_title {
    float: left;    
    margin-bottom: 0;
    margin-right: auto;
    width: calc(100% - 126px);
  }

  .trend_list_wrap {
    margin-top: 15px;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    text-align: center;
  }

  .trend_list_wrap .trend_list_label {
    min-width: 100%;
  }

  .trend_list_wrap .trend_list_label p {
    font-size: 14px;
    line-height: 21px;
    display: inline;
  }

  .trend_list_wrap .trend_list_label h6 {
    display: inline;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }

  .trend_list_wrap ul.trend_list {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    gap: 40px;
  }

  .trend_list_wrap ul.trend_list li.list_inline_item a {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }

  .trend_list_wrap ul.trend_list li.list_inline_item a svg {
    margin-right: 0;
    margin-bottom: 3px;
  }

  .text_box_wrap .img_text_box_inner {
    flex-direction: column;
  }
  .trend_list_wrap ul.trend_list li.list_inline_item a img {
    margin-right: 0;
  }

  .text_box_wrap .img_text_box_inner .text_box_content h2 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -2px !important;
  }

  .text_box_wrap .img_text_box_inner .text_box_content p {
    font-size: 20px;
    line-height: 30px;
  }

  .text_box_wrap .img_text_box_inner .text_box_content {
    width: 100%;
    padding: 30px 15px 50px 15px;
  }

  .text_box_wrap .img_text_box_inner .img_box_wrap {
    width: 100%;
  }

  .text_box_content_inner {
    max-width: 100%;
  }

  .box_text_img_over h2 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -2px !important;
  }

  .box_text_img_over h2 {
    font-size: 60px;
    line-height: 60px;
  }

  .box_text_img_over h2 .small {
    font-size: 40px;
    line-height: 40px;
  }
  .text_box_wrap.app_download_box_wrap {
    margin-bottom: 0;
  }
  .text_box_wrap.app_download_box_wrap .img_text_box_inner .text_box_content {
    width: 100%;
    min-height: inherit;
  }

  .text_box_wrap.app_download_box_wrap .img_text_box_inner .img_box_wrap {
    width: 100%;
    min-height: inherit;
  }

  .text_box_wrap.app_download_box_wrap .img_text_box_inner ul.download_app {
    margin-top: 15px;
    text-align: center;
  }

  .text_box_wrap.app_download_box_wrap .img_text_box_inner ul.download_app li {
    float: none;
    display: inline-block;
  }

  .text_box_wrap.app_download_box_wrap .img_text_box_inner ul.download_app li.download_app_title h6 {
    font-size: 35px;
    line-height: 39px;
  }
  .app_download_img_list {   
    margin: 0;
  }
  .text_box_wrap.app_download_box_wrap .img_text_box_inner .img_box_wrap ul.app_download_img_list:after {
    content: "";
    width: 100%;
    height: 90px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--background-light-grey, #F8F8F8);
    z-index: -1;
  }
  .text_box_wrap.app_download_box_wrap .img_text_box_inner .img_box_wrap ul.app_download_img_list {
    
      margin: 0;
      padding: 0 15px;
      margin-bottom: 0!important;
      padding-bottom: 60px;
      position: relative;
      z-index: 0;
  }
  .text_box_wrap.app_download_box_wrap .img_text_box_inner .img_box_wrap ul.app_download_img_list li {
    display: inline-block;
     width: 33.33%;
  }

  .text_box_wrap.block_bg_pink .img_text_box_inner .img_box_wrap {
    order: 2;
  }
  .text_box_wrap.left .img_text_box_inner .img_box_wrap .box_text_img_over {
    padding-left: 15px;
    padding-right: 15px;
    bottom: 35px;
  }

  .text_box_wrap.right .img_text_box_inner .img_box_wrap .box_text_img_over {
    padding-left: 15px;
    padding-right: 15px;
    bottom: 35px;
  }

  .text_box_wrap.block_bg_pink .img_text_box_inner .text_box_content {
    padding-top: 115px;
  } 

  .text_box_wrap.block_bg_yellow .img_text_box_inner .text_box_content {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
  }

  .text_box_wrap.block_bg_yellow .img_text_box_inner .text_box_content .bg_overlay_img svg {
    height: 80%;
  }

  .text_box_wrap.block_bg_black .img_text_box_inner .text_box_content {
    padding-top: 45px;
  }

  .text_box_wrap.block_bg_orange .img_text_box_inner .text_box_content {
    justify-content: center !important;
  }

  .text_box_wrap .img_text_box_inner .text_box_content {
    min-height: 330px;
  }
  .text_box_wrap .img_text_box_inner .img_box_wrap {
    min-height: 330px;
  }

  .btn_sm_m {
    height: 48px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 21px;
  }
  .btn_custom_m {
    height: 48px;
    padding: 8px 24px;
  }
  .klarna_bg {
    right: 20px;
    top: 20px;
  }
  .txt_mob_fs50 {
    font-size: 50px!important;
    line-height: 50px!important;
    letter-spacing: -2px !important;
  }  
  .custom_fs_m_16 {
    font-size: 16px!important;
    line-height: 24px!important;    
  }
  /** custom listing */
  ul.custom-listing {
    margin-top: 35px;
  }

  ul.custom-listing li {
    margin-bottom: 25px;
    font-size: 16px;
  }
  ul.custom-listing li:last-child {
    margin-bottom: 0;
  }

  ul.custom-listing li img {
    margin-right: 15px;
  }

  .full-block-wrap .img_text_box_inner .text_box_content_inner {
    max-width: 100%;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .full-block-wrap .img_text_box_inner .text_box_content_inner h3 {    
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -1.28px;
    margin-bottom: 30px;
  }
  .fortattoo_artists .text_box_wrap.left .img_text_box_inner .text_box_content {
    order: 1;
  }
  .fortattoo_artists .text_box_wrap.left .img_text_box_inner .img_box_wrap {
    order: 2;
  } 

  .default_form_block .full_block_wrap {
    flex-direction: column;
  }
  .form_right_wrap {
    margin-left: 0;
    margin-top: 50px;
    padding: 35px 50px 35px 50px;
  }
  .form_block_left {
    width: 100%;
  }
  .form_block_right {
    width: 100%;
  }
  .default_form_block h1.page_title {
    margin: 0;
    font-size: 50px;
    line-height: 55px;
  }
  ul.progressbar li {
    padding-left: 50px;
  }
  ul.progressbar li h4 {
    font-size: 20px;
    line-height: 25px;
  }  
  .custom_full_block {
    max-width: 100%!important;
  }
  ul.custom-listing.how_work_list li {
    font-size: 18px;
    line-height: 27px;
  }
  ul.custom-listing.how_work_list li img {
    width: 24px;
  }
  .contact_form_block .form_block_left p {
    font-size: 16px;
    line-height: 24px; 
    max-width: 100%;
  }
  .max_m_w_100pc {
    max-width: 100%!important;
  }
  
  .full-block-wrap .img_text_box_inner .text_box_find_tattoo {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .find_tattoo_wrap {
    flex-direction: column;
  }
  .find_tattoo_wrap .find_tattoo_left {
      max-width: 100%;
  }
  .find_tattoo_wrap .find_tattoo_right {
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 20px;
  }
  .text_box_find_tattoo .find_tattoo_wrap .find_tattoo_left h3 {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -2px;
  }
  .full_banner_custom_slider .img_text_box_inner .img_box_wrap {
    order: 1;
  }
  .full_banner_custom_slider .img_text_box_inner .text_box_content {
    order: 2;
    padding-right: 0!important;
  }
  .app_download_box_wrap.dictionary_app .img_text_box_inner .img_box_wrap ul.app_download_img_list {
    padding-bottom: 30px;
  }
  .app_download_box_wrap.dictionary_app .img_text_box_inner .img_box_wrap {
      order: 2;
  }
  .app_download_box_wrap.dictionary_app .img_text_box_inner .text_box_content {
      padding-bottom: 20px;
  }
  .app_download_box_wrap.dictionary_app .img_text_box_inner .text_box_content ul.download_app li.download_app_title {
      margin-bottom: 15px;
  }
  .app_download_box_wrap.dictionary_app .img_text_box_inner .text_box_content ul.download_app li.download_app_title p {
      margin-bottom: 10px;
  }
  .app_download_box_wrap.dictionary_app .img_text_box_inner .img_box_wrap ul.app_download_img_list li {
      display: inline;
  } 

  /* custom slick slider home */
  .slick_custom_slider {

  }
  .slick_custom_slider .slick-slider .slick-slide > div {
    margin-right: 21px;
  }
  .containerStyle {
    max-width: 100%;
    margin: 0; 
  }
  .containerStyle .slick-slide img {
    max-width: 100%;
    height: inherit;
  }
  .containerStyle .slick-slide {
    margin-right: 21px;
  }
  .responsive-image {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 35px;
    background: #F8F8F8 -183.109px -81.848px / 212.178% 158.542% no-repeat;
    outline: none;
  }
  .slick_custom_slider .slick-slider button.slick-arrow {
    opacity: 0;
  } 
}

@media screen and (max-width: 360px) {
  ul.custom-listing-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .box_text_img_over h2 {
    font-size: 52px;
    line-height: 57px;
  }
}
@media screen and (max-width: 560px) {
  ul.custom-listing-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 5.5vw;
    padding-right: 5.5vw;
  }

  header .navbar .navbar_toggler {
    display: block;
  }

  .text_box_wrap.right .img_text_box_inner .text_box_content {
    padding-left: 5.5vw;
  }

  .text_box_wrap.left .img_text_box_inner .text_box_content {
    padding-left: 30px;
  }

  .text_box_wrap.left .img_text_box_inner .img_box_wrap .box_text_img_over {
    padding-left: 5.5vw;
    padding-right: 2%;
  }
  .text_box_wrap.right .img_text_box_inner .img_box_wrap .box_text_img_over {
    padding-right: 5.5vw;        
    padding-left: 2%;
  }
  .text_box_wrap.app_download_box_wrap .img_text_box_inner .text_box_content {
    padding-left: 6.5vw;
  }
  .text_box_wrap.block_bg_yellow .img_text_box_inner .text_box_content {
    text-align: center;
  }
  .custom_spc_left_d_430 {
    max-width: 430px!important;
  }
  .custom_spc_right_d_430 {
    max-width: 430px!important;
  }  
  .app_download_box_wrap.dictionary_app .img_text_box_inner .img_box_wrap {
    width: 50%;
  }
  .app_download_box_wrap.dictionary_app .img_text_box_inner .text_box_content {
    width: 50%;
    padding-left: 6.5vw;
  }
  
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .form_right_wrap {
    margin-left: 20px;
    padding: 35px 50px 35px 50px;
  }
  .form_block_left {
    width: 100%;
  }
  .form_block_right {
    width: 100%;
  }
  .default_form_block h1.page_title {
    margin: 0;
    font-size: 50px;
    line-height: 55px;
  }
  ul.progressbar li {
    padding-left: 50px;
  }
  ul.progressbar li h4 {
    font-size: 20px;
    line-height: 25px;
  }
  
}
@media screen and (max-width: 991.98px) {
  main {
    min-height: 48vh;
  }
  header .header_right {
    margin-top: 0;
    display: flex;
    
  }
  header .nav-right-block {
    width: calc(100% - 105px);
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 80px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: var(--gray-400);
  }

  header .nav-right-block ul.nav.main_nav {
    margin: 0;
    padding: 0;
    background-color: var(--gray-400);
    position: inherit;
    padding-bottom: 15px;
  }

  header .nav-right-block ul.nav.main_nav.navbar_collapse.collapse:not(.show) {
    display: none !important;
  }

  header .nav-right-block ul.nav.main_nav li.nav-item a:hover {
    color: var(--pink);
  }

  header .nav-right-block .header_right .navbar_toggler {
    position: absolute;
    right: 0;
    top: -56px;
  }

  header button.btn_tattoo-art.navbar_collapse.collapse:not(.show) {
    display: none !important;
  }

  header .navbar .header_right .navbar_collapse {
    position: inherit;
    padding-left: 0;
    padding-right: 0;
    margin: 15px 0 0 0;
    order: 1;
  }

  header .navbar .header_right .navbar_collapse ul.nav.navbar-nav {
    background-color: transparent;
  }

  header .navbar .header_right .navbar_collapse ul.nav.navbar-nav li.nav-item {
    margin: 0;
  }

  header .navbar .header_right .navbar_collapse ul.nav.navbar-nav li.nav-item a {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
  }

  header .navbar .header_right .navbar_collapse.btn_tattoo-art {
    order: 2;
    margin-bottom: 20px;
    padding-top: 8px !important;
  }

  .nav_block {
    display: none;
  }
  .header_right  .btn_tattoo_art{
    display: none;
  } 
  header .navbar {
    padding: 0px 13px;
  } 
  img.nav_btn_toggle {
    margin-top: 30px;
  }
  .keywords_wrap ul.keywords_list {
    width: 80%;
    margin: 0;
    padding-bottom:5px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
  }
  .keywords_wrap ul.keywords_list li {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }  
  ul.keywords_list::-webkit-scrollbar {
    height: 10px
  }
  ul.keywords_list::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ul.keywords_list::-webkit-scrollbar-thumb {
    background: #888;
  }
  ul.keywords_list::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}

@media screen and (min-width: 992px) {
  /* header .header_right {
    display: flex;
  } */

  header .nav-right-block {
    width: calc(100% - 105px);
    display: flex;
    margin-right: auto;
    margin-left: 8%;
  }

  header .nav-right-block ul.nav.main_nav {
    display: inline-block !important;
    position: inherit;
    top: inherit;
    width: auto;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    height: auto !important;
  }

  header .nav-right-block ul.nav.main_nav li.nav-item {
    display: inline-block;
  }

  header .nav-right-block .header_right button.btn_tattoo-art {
    display: inline-block !important;
    margin-left: 0;
    position: inherit;
    padding: 8px 16px !important;
  }

  header button.btn_tattoo-art.navbar_collapse.collapse:not(.show) {
    display: inline-flex !important;
    position: inherit;
    padding: 8px 16px !important;
    width: auto;
  }

  header .navbar .navbar-nav li.nav-item {
    padding: 7px 0;
  }

  header .navbar .navbar-nav li.nav-item a {
    color: var(--white);
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
  }

  header .navbar .navbar-nav li.nav-item a:hover {
    color: var(--pink);
  }

  header .navbar .header_right .navbar_collapse ul.nav.navbar-nav li.nav-item a:hover {
    color: var(--pink);
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .nav_block {
    padding-left: 4%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 10.0694444444vw;
    padding-right: 9.375vw;
  }

  .text_box_wrap.right .img_text_box_inner .text_box_content {
    padding-left: 10.0694444444vw;
  }

  .text_box_wrap.left .img_text_box_inner .text_box_content {
    padding-left: 60px;
  }

  .text_box_wrap.left .img_text_box_inner .img_box_wrap .box_text_img_over {
    padding-left: 10.0694444444vw;
    padding-right: 2%;
  }
  .text_box_wrap.right .img_text_box_inner .img_box_wrap .box_text_img_over {
    padding-right: 10.0694444444vw;        
    padding-left: 2%;
  }

  .text_box_wrap.app_download_box_wrap .img_text_box_inner .text_box_content {
    padding-left: 11.4583333333%;
  }
  .app_download_box_wrap.dictionary_app .img_text_box_inner .text_box_content {
    padding-left: 60px;
  }
  .text_box_wrap .img_text_box_inner .img_box_wrap {
    min-height: 550px;
  }
  .text_box_wrap .img_text_box_inner .text_box_content {
    min-height: 550px;
  }
  .text_box_wrap.app_download_box_wrap .img_text_box_inner .text_box_content {
    min-height: inherit;
  }
  .text_box_wrap.app_download_box_wrap .img_text_box_inner .img_box_wrap {
    min-height: inherit;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .text_box_wrap .img_text_box_inner .text_box_content h2 {
    font-size: 60px;
    line-height: 60px;
  }

  .text_box_wrap .img_text_box_inner .text_box_content p {
    font-size: 22px;
    line-height: 27px;
  }  

  .box_text_img_over h2 {
    font-size: 60px;
    line-height: 60px;
  }

  .box_text_img_over h2 .small {
    font-size: 40px;
    line-height: 40px;
  }

  .text_box_wrap.app_download_box_wrap .img_text_box_inner ul.download_app li.download_app_title h6 {
    font-size: 36px;
    line-height: 39px;
  }
  ul.custom-listing-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .text_box_find_tattoo .find_tattoo_wrap .find_tattoo_left h3 {
    font-size: 50px;
    line-height: 50px;
  }
}


@media screen and (min-width: 1025px) and (max-width: 1200px) {
  ul.custom-listing-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}



/* @media screen and (max-width: 1199px) {
  .nav-block {
   display: none;
  }

} */





 /* siddique styles ------   12 sep */


.swiper-slide {
  /* width:"100px "; */
  /* max-width: 240px; */
  background-color: transparent;
  border-radius: 10px;
  background-size: cover;
  /* border: 1px solid white; */
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  /* background-image: url(./assets/slideBG.png); */
  color: #ffffff;
}
.testimonials-profile-circle {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.testimonial-avatar {
  width: 100px;
  height: 100px;
  border: 3px solid #1d8ba0;
  border-radius: 50%;
}
.review-by {
  color: #1d8ba0;
  font-size: 18px;
}
.head {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
}
      


header .navbar {
padding: 0px 13px;
}
 .swiper-pagination-bullet:first-of-type,.swiper-pagination-bullet:last-of-type{
  width: 8px !important;
  height: 8px !important;
  position:relative;
  top:-1px;
}
.swiper-pagination-bullet {
  background-color: #f7fafa !important;
  /* border: 2px solid #626464 !important; */
  /* padding: 1px !important; */
  border-radius: 30px !important;
  /* padding-left: 5px !important; */
  width: 10px !important;
  height: 10px !important;
  /* padding-right: 5px !important; */

}
.swiper-slide .swiper-slide-prev{
  transform: translate3d(665.2119px, 0px, -176.647px) rotateX(0deg) rotateY(0deg) scale(1) !important;
}
.swiper-pagination {
  position: absolute;
  bottom: -25px; 
}
.swiper{
  transform: none  !important;
}

 .swiper-slide-prev{
  width: 247.5px;
  transition-duration: 0ms;transform: translate3d(275px, 0px, -216.364px) rotateX(0deg) rotateY(0deg)  !important;
  margin-right: 100px;

}
.swiper-slide-next{
  width: 247.5px;
  transition-duration: 0ms;transform: translate3d(-274.556px, 0px, -216.667px) rotateX(0deg) rotateY(0deg)  !important;
  z-index: 0;
  margin-right: 110px;

}

.swiper-slide-duplicate-next,.swiper-slide-duplicate-prev{
  border:5px solid red;
  visibility: hidden;
}
.swiper-slide-duplicate-active{
  visibility: hidden;
}
.swiper-second{
  display:flex;
  flex-direction:column;
  background-color: blue;
}
.swiper-second img{
  height:200px;
  width:289.14px;
}

.thumbs-wrapper{
  display:none
}
.carousel button{
  display:none
}
.slider-custom{
  height: 200px;
}
.custom-container{
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.carousel .control-dots .dot{
background: grey !important;
}
.dot{
box-shadow: none !important;

}
.carousel-status{
  display: none;
}
/* .control-dots li:first-of-type,li:last-of-type{
  width: 6px !important;
  height: 6px !important;
  position:relative;
  top:-1px;
} */
.carousel-image{
  height:200px !important;
  width:289px !important;
  border-radius:20px;
  margin-bottom: 50px;
}
.custom-margin{
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
}
.download-link-image{
  height:41px !important;
  width:279px !important;
}

 /* siddique styles ------   12 sep */
