.home_banner_block {
	width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
}
.home_banner_wrap {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
	align-items: stretch;
}

.home_banner_item {
	display: flex;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
	/*min-height: calc(100vh - 75px);
	padding: 14vh 0 10vh 0;*/
	min-height: 93vh;
    padding: 16vh 0 9.5vh;
}

.home_banner {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.home_banner:before {
	content: "";
	background: linear-gradient(1deg, #0D0D0D 16.96%, rgba(13, 13, 13, 0.05) 55.01%, rgba(13, 13, 13, 0.05) 98.26%);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.home_banner_inner {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.home_banner_inner video {
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.home_banner_content {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: end;
	justify-content: center;
	width: 100%;
	max-width: 812px;
}

.home_banner_content_wrap {
	padding: 0;
	max-width: 100%;
	/*margin-bottom: 95px;*/
}

.home_banner_caption {
	margin: 0 0 90px 0;
}

.home_banner_caption h1 {
	text-align: center;
	font-size: 112px;
	font-weight: 700;
	line-height: 100%;
	letter-spacing: -6.16px;
	margin: 0;
	padding: 0;
}
.highlight_border {
	position: relative;
}
  
.highlight_border:after {
	content: "";
	width: 100%;
	height: 16px;
	position: absolute;
	bottom: -10px;
	left: -10px;
	margin-top: 10px;
	background: url("/heading-border.svg") no-repeat;
	background-size: contain;
}
.home_banner_img {
	max-width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* responsive */
@media screen and (max-width: 767.98px) {
	.mob_hidden {
		display: none!important
	}

	.home_banner_item {
		min-height: 76vh;
    	padding: 13.5vh 0 3.5vh 0;
	}

	.home_banner:before {
		background: linear-gradient(0deg, #0D0D0D -29.06%, rgba(13, 13, 13, 0) 100%);
	}

	.home_banner_content {
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.home_banner_content_wrap {
		/*margin-bottom: 40px;*/
	}

	.home_banner_caption {
		margin-bottom: 40px;
	}

	.home_banner_caption h1 {
		font-size: 60px;
		font-weight: 700;
		line-height: 100%;
		letter-spacing: -3.3px;
	}
	.home_banner_caption .highlight_border:after {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	.desk_hidden {
		display: none!important
	}
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
	.home_banner_content {
		max-width: 760px;
	}

	.home_banner_caption h1 {
		font-size: 82px;
	}
}

@media screen and (max-width:1199px) {
	.home_banner_block {	
		margin-top:0px;	
	}
}
	
