.banner_block {
	width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
}
.banner_wrap {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
	align-items: stretch;
}

.banner_item {
	display: flex;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
}

.banner {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.banner:before {
	content: "";
	background: linear-gradient(1deg, #0D0D0D -35.49%, rgba(13, 13, 13, 0.00) 107.45%);
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.banner_inner {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.banner_inner img {
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.banner_content {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 812px;
}

.banner_content_wrap {
	padding: 0;
	max-width: 100%;
}

.banner_caption {
	margin: 0;
}

.banner_caption h1 {
	text-align: center;
	font-size: 112px;
	font-weight: 700;
	line-height: 100%;
	letter-spacing: -6.16px;
	margin: 0;
	padding: 0;
}
.banner_caption h5 {
	color: var(--white);
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	line-height: 40px;
	margin: 30px 0;
	padding: 0;
}


/* responsive */
@media screen and (max-width: 767.98px) {
	.banner_block {
		min-height: 40rem;
	}

	.banner_item {
		min-height: 40rem;
	}

	.banner:before {
		background: linear-gradient(0deg, #0D0D0D -29.06%, rgba(13, 13, 13, 0) 100%);
	}

	.banner_content {
		max-width: 510px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.banner_content_wrap {
		margin-bottom: 40px;
	}

	.banner_caption {
		margin-bottom: 40px;
	}

	.banner_caption h1 {
		font-size: 60px;
		font-weight: 700;
		line-height: 100%;
		letter-spacing: -3.3px;
	}
}
@media screen and (min-width: 768px) {
	.banner_block {
		min-height: 45rem;
	}

	.banner_item {
		min-height: 45rem;
	}
}
@media screen and (min-width: 1200px) {
	.banner_block {
		min-height: 55rem;
	}

	.banner_item {
		min-height: 55rem;
	}
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
	.banner_content {
		max-width: 750px;
	}

	.banner_caption h1 {
		font-size: 82px;
	}
}