.sideDrawer {
    background: #fff;
    position: absolute;
    /* width: 320px; */
    padding: 120px 15px 15px 15px;
    height: 100%;
    z-index: 99;
    top: 0;
    right: 0;
    max-width: 633px;
    width: 100%;    position: fixed;
}

.sideDrawer ul {
    padding: 0;
    padding-left: 22%;
}

.menuList li {
    display: block;
    list-style-type: none;
    text-align: left;
    padding: 18px 0;
}

.menuList li a {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
    color: #000;
    font-weight: 600;
}

.closeWrapper {
    color: transparent;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

@media screen and (max-width: 991.98px) {
    .sideDrawer { 
        width: 100%;
    }
    
    .sideDrawer ul {
        padding-left: 0;
    }
    
    .menuList li {
        padding: 25px 0;
        text-align: center;
    }    
    .menuList li a {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.96px;
    }    
   

}


@media screen and (max-width: 767.98px) {
    .sideDrawer {       
        padding: 60px 15px 15px 15px;
        max-width: 100%;
        width: 100%;
    } 
}