.banner_block {
	width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
}
.banner_wrap {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
	align-items: stretch;
}

.banner_item {
	display: flex;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
	min-height: 92vh;
    padding: 29vh 0 15vh 0;
}

.banner {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.banner:before {
	content: "";
	background: linear-gradient(1deg, #222 16.96%, rgba(13, 13, 13, 0.05) 55.01%, rgba(13, 13, 13, 0.05) 98.26%);
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.banner_inner {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.banner_inner img {
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.banner_content {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	/*max-width: 812px;*/
}

.banner_content_wrap_klarna {
	padding: 0;
	max-width: 100%;
}

.banner_caption {
	margin: 0;
}

.banner_caption h1 {
	text-align: left;
	font-size: 112px;
	font-weight: 700;
	line-height: 100%;
	letter-spacing: -5.6px;
	margin: 25px 0 0 0;
	padding: 0;
}
.banner_caption h5 {
	color: var(--white);
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	line-height: 40px;
	margin: 30px 0;
	padding: 0;
}

.banner_caption p {
	color: var(--white);
	text-align: left;
    max-width: 60%;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0 25px 0;
    padding: 0;
}
.download_app {
	list-style-type: none;
	display: block;
	margin: 0px;
	max-width: 280px;
	width: 100%;
	padding: 0;
	text-align: center;
  }
.download_app li {
	width: auto;
	margin-right: 10px;
	float: left;
	padding: 0;
}

.download_app li a {
	text-decoration: none;
}

.download_app li:last-child {
	margin-right: 0;
}

.download_app li.download_app_title {
	width: 100%;
	margin: 0;
	display: none;
}

.download_app li.download_app_title h6 {
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--white);
	text-align: left;
}

/* responsive */
@media screen and (max-width: 767.98px) {
	.banner_item {
		min-height: 76vh;
    	padding: 15.5vh 0 4.7vh 0;
	}
	.banner:before {
		background: linear-gradient(0deg, #0D0D0D -29.06%, rgba(13, 13, 13, 0) 100%);
	}
	.banner_content {
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		align-items: end;
	}

	.banner_content_wrap_klarna {
		display: flex;
    	flex-direction: column;
    	margin-bottom: 0;
		text-align: center;
	}
	.banner_content_wrap_klarna .banner_caption {
		margin-bottom: 0px;
	}
	.banner_content_wrap_klarna .banner_caption img {
		max-height: 30px;
	}

	.banner_content_wrap_klarna .banner_caption h1 {
		font-size: 60px;
		font-weight: 700;
		line-height: 100%;
		letter-spacing: -2.4px;
		text-align: center;
		margin-top: 15px;
	}
	.banner_content_wrap_klarna .banner_caption p {
		max-width: 100%;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		margin: 20px auto 30px auto;
		padding: 0;
		text-align: center;
	}	
	.banner_content_wrap_klarna .download_app {
		margin: 0 auto;
	}
	.download_app li.download_app_title {
		display: inline-block;
	}
	
	.download_app li.download_app_title h6 {		
		text-align: center;
	}
	
}
@media screen and (min-width: 768px) {
	.banner_content {
		padding-left: 5.5vw;
		padding-right: 5.5vw;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {	
	.banner_caption p {		
		max-width: 80%;
	}
}
@media screen and (min-width: 1200px) {	
	.banner_content {
		padding-left: 10.0694444444vw;
    	padding-right: 9.375vw;
	}
}
@media screen and (min-width: 768px) and (max-width: 1300px) {	
	.banner_caption h1 {
		font-size: 82px;
	}
}
