




.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 4px;
  padding: 10px 0px 10px 0px;
}

.gridItem {
  padding: 8px;
  position: relative;
  height: 208px;
  border-radius: 8px;
}


.spanTwo {
  padding: 8px;
  position: relative;
  height: 208px;
  border-radius: 8px;
  grid-column: span 2 ;background-color: aquamarine;
}



.search_dropdown__vcnfp {
  background-color: #fff;
  padding: 10px;
  height: 310px;
  overflow-y: scroll;
  margin-top: 10px;
  border-radius: 17px;
}
