/*.pageWrapper{
    width: 1527px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0px 15px;

}*/
.main_wrap {}
.page_search_wrapper {}

.filter_container {
    float: left;
    width: 100%;
    margin-top: 23px;
}
.filter_container .search-bar {
    float: left;
    width: 50%;
}
.tattoo_search_wrap {
    float: left;
    max-width: 100%;
    width: calc(100% - 321px);
    margin-right: 21px;
}
.search_form {
    margin: 0;
    max-width: 100%;
}
.wrapper_block {
    float: left;
    position: relative;
    width: 100%;
    max-width: 156px;
    margin: 0 16px 0 0;
}
.wrapper_block .location_icon {
    position: absolute;
    top: 12px;
    left: 10px;
}
.wrapper_block input {
    padding: 6px 20px 7px 31px;
    border-radius: 34px;
    border: 1px solid #101010;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    width: 100%;
    height: 40px;
    color: #212121;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    outline: none;
}
.wrapper_block input::placeholder {
    color: #212121;
    opacity: 1;
}

.wrapper_filter {
    float: left;
    position: relative;
    width: 100%;
    max-width: 128px;
    margin: 0;
}
.wrapper_filter .filter_icon {
    position: absolute;
    top: 10px;
    left: 17px;
}
.wrapper_filter select {
    padding: 7px 10px 6px 48px;
    border-radius: 31px;
    border: 1px solid #E1E4E8;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    height: 40px;
    color: #212121;
    appearance: none;
    width: 100%;
    outline: none;
    cursor: pointer;
}

/***** */
.grid_more_view {
    text-align: center;
    margin: 40px 0;
    float: left;
    width: 100%;
}

.grid_more_view p {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
.btn_wrapper {
    width: 100%;
}
.tabSection{float: left;width: 100%;}
.tabSection ul {
    margin: 14px 0px 0px 0px;

    padding: 0;

    text-align: center;
    border-bottom: 2px solid #eee;
  
}
.tabSection ul>li {
    list-style: none;
    display: inline-block;
    padding: 16px 36px;
}
.tabBox {
    display: FLEX;
    align-items: center;
    gap: 11px;
}
.tabSection button {
    background-color: transparent;
    border: 0;
    padding: 10px 40px;
}
.activeTab {
    border-bottom: 2px solid #000;
    color: var(--black)
}
.inActivetab {
    color: var(--gray-400)
}

@media screen and (max-width: 640px) {
    .filter_container {
        display: flex;
        flex-direction: column;
    }
    .tattoo_search_wrap {
        width: 100%;
        margin-right: 0;
        margin-bottom: 21px;
    }
    .main_wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }  
    
    .tabSection ul>li {
     
        padding: 16px;
    }
}

@media screen and (max-width: 479px) {
  
    .tabSection ul>li{
  padding: 6px 11px;
     font-size: 12px;
    }
    
    
    .tabBox{
   gap: 4px;
    }
    
.tabBox img{
       width: 14px }
    
}
